<!DOCTYPE html>
<html>
<head>
	<title>change_password</title>
	<link rel="stylesheet" type="text/css" href="chanpass.css">
</head>
<body>
<div class="container">
<div class="design">
	<div class="lala"> 
	<img src="image/Bruzone_Logo.png" style="width: 60px"><h1>Bruzone</h1>
	</div>

<div class="aa">
<h1 id="titla">Change Password</h1>
<h2>Password Must Contain:</h2>
<br>
<div class="req">
<div class="req1"><img src="">At Least 8 Character</div>
<br>
<div class="req2"><img src="">At least 1 Uppercase and 1 Lowercase</div>
<br>
<div class="req3"><img src="">At least 1 Number/Symbol(0-9$-#)</div>
</div>
</div>


<div class="back"> 
<img src="image/back.png" style="width: 50px"><p>Back To Homepage</p>
</div>
</div>
<div class="forgot">
	<div class="box">

<form>
<input type="password" name="" placeholder="Old Password">
<br>
<input type="password" name="" placeholder="New Password">
<br>
<input type="password" name="" placeholder="Reenter New Password">
<br>
<button>Send Email</button>	
<br><br><br><br>
<a href="#">Back To Login Page</a>
</form>
</div>

</div>
</div>
</body>
</html>