<!DOCTYPE html>
<html>
<head>
	<title>Forgot_password</title>
	<link rel="stylesheet" type="text/css" href="forpass.css">
</head>
<body>
<div class="container">
<div class="design">
	<div class="lala"> 
	<img src="image/Bruzone_Logo.png" style="width: 50px"><h1>Bruzone</h1>
	</div>
	<div class="aa">
<img src="image/key.png" style="width: 500px">

</div>
<div class="back"> 
<img src="image/back.png" style="width: 50px"><p>Back To Homepage</p>
</div>
</div>
<div class="forgot">
	<div class="box">
<h1 id="header">Forgot Your Password?</h1>
<form>
<input type="email" name="" placeholder="Email Address">
<br>
<button>Send Email</button>	
<br><br><br><br>
<a href="login.html">Back To Login Page</a>
</form>
</div>

</div>
</div>
</body>
</html>