@import url(https://fonts.googleapis.com/css?family=Roboto:300);





* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

    h1{
     font-family: "Roboto", sans-serif;	
    }

body{
	margin: 0;
	overflow: hidden;
}

#header{
	font-size: 70px;
	padding-bottom: 40px;
		color:#5B5944;
}

.container{
	display: flex;
	background-color: #F9F8F4
}

.design {
	flex-grow: 0;
	
}

.forgot{

	flex-grow: 8;
	height: 100vh;
	background-image: linear-gradient(180deg, rgba(246,231,29,1), rgba(238,232,143,1));
	text-align: center;
	padding-top:5%;
}

.box{
position: relative;
  z-index: 1; 
  max-width: 1000px;
  margin: 0 auto 100px;
  padding: 60px;
  text-align: center;
  padding-top:10%;

}

.box h1{
  font-size: 35px;

}

.forgot input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 40%;
  border: 0;
  margin: 0 0 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;

}
.forgot button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #D9D9D9;
  width: 40%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.forgot button:hover,.forgot button:active,.forgot button:focus {
  background: #F6E71D;
}
.forgot .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.forgot a {
  color: #706B2B;
  text-decoration: none;
}
.forgot label{
  display: inline-flex;
  font-family: "Roboto", sans-serif;	
}


.reg h1{
	font-size: 25px;

}

.reg img{
	 -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.back {
display: flex;
position: fixed;
bottom: 0;
left:0;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
cursor: pointer;
font-size: 25px
}

.back p{
padding-top: 15px; 
font-size: 17px;
padding-left: 6px
}


.lala  {
	display: flex;
	background: yellow;
	width: 170px;
	height: 50px;
	text-align: center;

}

.lala h1{
	padding-top: 10px;
	font-size:30px;
}


