@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Sofia);





* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

    h1{
     font-family: "Roboto", sans-serif;	
    }

body{
	margin: 0;
	overflow: hidden;
}

#titla{
	font-size: 40px;
	padding-bottom: 10px;
		color:#5B5944;
}

.container{
	display: flex;
	background-color: #F9F8F4
}

.form {
	flex-grow: 8;
	
}

.reg{

	flex-grow: 2;
	height: 100vh;
	background: yellow;
	text-align: center;
	padding-top: 15%;
}

.aa{
position: relative;
  z-index: 1; 
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  padding-top:10%;

}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #D9D9D9;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #F6E71D;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form a {
  color: #706B2B;
  text-decoration: none;
}
.form label{
  display: inline-flex;
  font-family: "Roboto", sans-serif;	
}


.reg h1{
	font-size: 25px;
  font-family: "Sofia", sans-serif;

}




.back {
display: flex;
	 -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
font-size: 25px
}

.back p{
padding-top: 15px; 
font-size: 17px;
padding-left: 6px
}



.lala  {
	display: flex;
	background: yellow;
	width: 170px;
	height: 50px;
	text-align: center;

}

.lala h1{
	padding-top: 10px;
	font-size:30px;
}


.imagine{
	position: relative;
	color: white;
	font-size: 25px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.sign_up{
	position: absolute;
	top: 45%;
	left: 33%;
  color: white;
  text-decoration: none;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #F6E71D, 0 0 40px #F6E71D, 0 0 50px #F6E71D, 0 0 60px #e60073, 0 0 70px #F6E71D;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }