<!DOCTYPE html>
<html lang="en">
<head>
  <!-- This one insert to every page that has product dashboard -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .eclipse-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 135px;
    height: 136px;
  }

  .eclipse-image {
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
</style>
</head>
<body>
  <div class="eclipse-container">
    <a href="BruZone ChatboxInterface.html">
      <img class="eclipse-image" src="https://www.iconbunny.com/icons/media/catalog/product/3/2/3243.9-team-support-icon-iconbunny.jpg" alt="Eclipse Image">
    </a>
  </div>
</body>
</html>
